# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
build/
dist/
*.egg

# =========================
# ROS 2 / colcon
# =========================
build/
install/
log/

# =========================
# VSCode / IDEs
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Data / logs / experiments
# =========================
*.bag
*.db3
*.mcap
*.csv
*.log

# =========================
# Serial dumps / temp files
# =========================
*.txt
tmp/
